/*This is my comment
body {
    background-color: lightblue;
  }
  
  h1 {
   color: white); 
   text-align:left;
  }
  
  h2 {
   color:rgb(241, 171, 241));
   
  
  p {
    font-family: ariel;
    font-size: 20p}

    */































